:root {
    --clr-black: #000000;
    --clr-white: #ffffff;
    --clr-green: #00C058;
    --clr-blue: #009EC0;
    --clr-light-gray: #E3E3E3;
    --clr-gray: #949494;
    --clr-dark-gray: #515151;
    --linear-gradient: linear-gradient(90deg, rgba(0,192,88,1) 0%, rgba(0,158,192,1) 100%);
}