/* Header */

.objet {
    top: 10px;
    right: 10px;
}

.info__div {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    margin: 5px 0 0 0;
    padding: .25rem .5rem;
    border: none;
    border-radius: 5px;
    background-color: var(--clr-light-gray);
}

.info__div::before {
    width: 16px;
    height: 16px;
}

.porte::before {
    content: url("../assets/svg/door-closed-dark.svg");
}

.texte::before {
    content: url("../assets/svg/card-text-dark.svg");
}

.info_bulle::before {
    content: url("../assets/svg/info-circle-dark.svg");
}

.photo::before {
    content: url("../assets/svg/file-image-dark.svg");
}

.info__para {
    color: var(--clr-dark-gray);
}



/* Composant Légende et Texte */

.legend__section {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.legend__label {
    font-size: 15px;
    color: var(--clr-dark-gray);
}

textarea {
    margin: .5rem 0;
    padding: .25rem;
    border: 1px solid var(--clr-gray);
    border-radius: 5px;
}

.text {
    margin: .25rem 0 .5rem 0;
}



/* Composant de Position et de Taille */

.position__div {
    display: flex;
    align-items: center;
}

.position__div label {
    padding-right: .5rem;
}

.range__value {
    margin: .25rem 0 .25rem .5rem;
    padding: .25rem .5rem;
    border: 1px solid var(--clr-gray);
    border-radius: 5px;
    color: var(--clr-gray);
}

.inputRange {
    appearance: none;
    width: 100%;
    height: 9px;
    border: 1px solid var(--clr-light-gray);
    border-radius: 9999px;
    background: linear-gradient(90deg, var(--clr-green) 50%, transparent 50%);
    cursor: pointer;
}

/* Thumb: for Chrome, Safari, Edge */
.inputRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    border: 3px solid var(--clr-light-gray);
    border-radius: 9999px;
    background: var(--clr-green);
    box-shadow: none;
}

/* Thumb: for Firefox */
.inputRange::-moz-range-thumb {
    width: 17px;
    height: 17px;
    border: 3px solid var(--clr-light-gray);
    border-radius: 9999px;
    background: var(--clr-green);
    box-shadow: none;
}



/* Composant de Couleurs */

.div__color {
    display: flex;
    flex-direction: column;
    margin: .75rem 0;
}

.div__color label {
    font-size: 15px;
    color: var(--clr-dark-gray);
}

.sec__input_color {
    display: flex;
    align-items: center;
    width: min-content;
    padding: .25rem;
    gap: 5px;
    border: 1px solid var(--clr-gray);
    border-radius: 5px;
}

.sec__input_color input {
    width: 26px;
    height: 26px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.sec__input_color p {
    font-size: 15px;
    color: var(--clr-dark-gray);
}