*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 20px;
    height: 20px;
}

.scene__section {
    position: fixed;
      top: 10px;
      left: 10px;
      border: solid 1px red;
      padding: 10px;
      border-radius: 8px;
      z-index: 10;
}

.title__scene {
    text-align: center;
    margin: 1rem 0;
}

.header__section {
    display: flex;
    gap: .5rem;
    margin: 2.5rem 0;
}

.div__icons {
    margin-left: 1rem;
}

.icon__scene {
}

.link__icon {
    text-decoration: none;
}