@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import */
@import "./root.css";
@import "./left_board.css";
@import "./right_board.css";


/* Reset CSS */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}