/* Thumb: for Chrome, Safari, Edge */
.inputRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    border: 3px solid var(--clr-light-gray);
    border-radius: 9999px;
    background: var(--clr-green);
    box-shadow: none;
}

/* Thumb: for Firefox */
.inputRange::-moz-range-thumb {
    width: 17px;
    height: 17px;
    border: 3px solid var(--clr-light-gray);
    border-radius: 9999px;
    background: var(--clr-green);
    box-shadow: none;
}