/* .porte::before {
    content: url("../assets/svg/door-closed-dark.svg");
}
.info_bulle::before {
    content: url("../assets/svg/info-circle-dark.svg");
}
.texte::before {
    content: url("../assets/svg/card-text-dark.svg");
}
.photo::before {
    content: url("../assets/svg/file-image-dark.svg");
} */