/* Header */
.div__section_title {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

.fixed__section {
    position: fixed;
    height: 97%;
    border: solid 1px var(--clr-blue);
    padding: 0 1.5rem;
    border-radius: 8px;
    z-index: 25;
    background-color: var(--clr-white);
    overflow-y: scroll;
}

.scene {
    top: 10px;
    left: 10px;
}

.title__scene {
    text-align: center;
    margin: 1rem 0;
}

.header__section {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: 2.5rem 0 0 0;
}

.div__icons {
    margin-left: 1rem;
}

.btn__icon {
    display: flex;
    align-items: center;
    padding: 5px;
    background: none;
    border: none;
    cursor: pointer;
}



/* Composant de Scenes */

.scene-select {
    width: 100%;
    padding: .25rem;
    border: none;
    border-radius: 5px;
    background-color: var(--clr-light-gray);
    color: var(--clr-dark-gray);
}



/* Composant de Rename */

.rename__section {
    margin: 1rem 0 1rem 0;
}

.div__rename {
    display: flex;
    justify-content: space-between;
    gap: .75rem;
}

.label__rename {
    font-size: 15px;
    color: var(--clr-dark-gray);
}

.input__champ {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--clr-gray);
}

.input__champ::placeholder {
    font-size: 15px;
    color: var(--clr-gray);
}

.button__submit {
    width: 61.59px;
    font-size: 15px;
    padding: .5rem .5rem;
    border: none;
    border-radius: 5px;
    color: var(--clr-white);
    background: var(--linear-gradient);
    cursor: pointer;
}



/* Composant d'Import */

.import__section,
.tag__section,
.techtree__section,
.texte__section,
.position__section {
    margin-top: 50px;
}

.div__import {
    display: flex;
    align-items: center;
}

.div__tools {
    display: flex;
    align-items: center;
    margin-left: .5rem;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    color: var(--clr-gray);
    cursor: pointer;
}



/* Composant de Tag */

.div__tags {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.btn__tag {
    position: relative;
    display: flex;
    gap: 5px;
    font-size: 15px;
    padding: .5rem .75rem .5rem 2.25rem;
    border: none;
    border-radius: 20rem;
    color: var(--clr-white);
    background: var(--linear-gradient);
    cursor: pointer;
}

.btn__tag::before {
    content: url('../assets/svg/plus-lg-light.svg');
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 4px;
    top: 4px;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--clr-white);
    border-radius: 20rem;
}



/* Composant Explorer */

.title__explorer {
    width: 100%;
    padding: .25rem .25rem .25rem .5rem;
    border-radius: 5px 5px 0 0;
    font-weight: bold;
    color: var(--clr-dark-gray);
    background-color: var(--clr-light-gray);
}

.ul__objet {
    list-style-type: none;
    padding-left: 1.5rem;
}

.list__objet {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
    border-bottom: 1px solid var(--clr-gray);
}

.porte::before {
    content: url("../assets/svg/door-closed-dark.svg");
}
.info_bulle::before {
    content: url("../assets/svg/info-circle-dark.svg");
}
.texte::before {
    content: url("../assets/svg/card-text-dark.svg");
}
.photo::before {
    content: url("../assets/svg/file-image-dark.svg");
}